.category{
    display: flex;
    gap: 5%;
    height: 100%;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: bold;
    flex-direction: column;
}
.menu::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 107, 255);
    transition: width 0.3s ease;
}
.menu.active::after{
    width: 100%;
}
.arrow{
    transition: all 0.3s ease;
    font-weight: normal;
}
.menu:hover .arrow{
    transform: rotate(180deg);
}
.menu-name{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}
.menu:hover .menu-name{
    background-color: rgba(11, 53, 88, 0.148);
    padding: 5px;
    border-radius: 10px;
}
